* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


//variables
$color-principal: #ffffff;
$color-letras: #3E3E33;



body {
    background-color: $color-principal;
    background-image: linear-gradient(135deg,
            #ffffff 0%,
            #cbd3d3 50%,
            #727272 100%);
    font-family: cursive;
}

a {
    text-align: center;
}

.titulos {
    color: $color-letras;
    font-family: Poppins;
    text-align: center;
    margin: 30px;
}

.fondoprincipal {
    background: linear-gradient(rgba(5, 7, 12, 0.50), rgba(5, 7 , 12, 0.50)),
    url(../images/fondo.jpg);
    max-width: 100%;
    height: 700px;
    text-align: center;
    color: $color-principal;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 300px;
    padding: 220px;
}

.textoprincipal {
    font-size: 25px;
    margin: 80px;
}


.footer{
    margin: 15px;
    text-decoration: none;
}

.footer:hover {
    background-color: red;
}

.contenedorfooter {
    display: flex;
    justify-content: space-around;
    
}

.contenedor-cartas {
    display: flex;
    justify-content: space-around;
    margin: 80px;
}

.cards {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: $color-principal;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    transition: all 400ms ease;
}

.cards:hover {
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.cards img {
    width: 100%;
    height: 210px;
}

.cards .contenido {
    padding: 15px; 
    text-align: center;
}

.cards p {
    line-height: 1.5;
    color: #6a6a6a;
}

.cards h3,h4,h5,h6 { 
    font-weight: 400px;
    margin-bottom: 15px;
    font-size: 24px;
}

.cards a {
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.cards a:hover {
    background: #2fb4cc;
    color: $color-principal;
}

.subtitulo {
    font-family: poppins;
    text-decoration: underline;
}
